* {
    background-color: slategray;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

h2 {
font-size: 45px;
}